.home-page .content h1 {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571rem;
  color: #171725;
}
.home-page .content .course-info {
  width: 100%;
  height: auto;
}
.home-page .content .course-info h1 {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571rem;
  color: #171725;
}
.home-page .content .course-info .topic-content {
  width: 100%;
  padding-left: 2.14285714rem;
  border-radius: 1.42857143rem;
  box-shadow: 0 0.28571429rem 1.71428571rem 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}
.home-page .content .course-info .topic-content .back {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: #005b94;
  border-radius: 1.35714286rem;
  background-color: #fff;
  padding: 0.85714286rem 5rem;
  border: 0.09285714rem solid #005b94;
  margin-top: 1.71428571rem;
}
.home-page .content .course-info .topic-content .learning {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.35714286rem;
  background-color: #005b94;
  padding: 0.85714286rem 5rem;
  margin-top: 1.71428571rem;
}
.home-page .content .course-info .topic-content .review-question {
  margin-top: 4.28571429rem;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.home-page .content .course-info .topic-content .review-question h5 {
  display: inline;
}
.home-page .content .course-info .topic-content .review-question .blank-word {
  width: 5.71428571rem;
  border-bottom: 0.14285714rem solid #979797;
}
.home-page .content .course-info .topic-content .review-question .question-number {
  font-family: Gilroy-Medium;
  font-size: 1.07142857rem;
  color: #ffffff;
  padding: 0.21428571rem 0.64285714rem;
  background-color: #000000;
  border-radius: 50%;
}
.home-page .content .course-info .topic-content .review-question .question {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571em;
  color: #18182a;
}
.home-page .content .course-info .topic-content .review-question .wrapper {
  width: 80%;
}
.home-page .content .course-info .topic-content .review-question .wrapper nav {
  background: rgba(250, 250, 250, 0.7);
  width: 80%;
  padding-bottom: 3px;
}
.home-page .content .course-info .topic-content .review-question .wrapper .defaultBar {
  width: 80%;
  position: relative;
  background: lavender;
  height: 10px;
}
.home-page .content .course-info .topic-content .review-question .wrapper .progressBar {
  position: absolute;
  height: 10px;
  background: #dedeef;
  width: 0px;
}
.home-page .content .course-info .topic-content .review-question .wrapper .buttons {
  margin-top: 3px;
  margin-left: 3px;
}
.home-page .content .course-info .topic-content .review-question .wrapper .playButton {
  background: pink;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  outline: none;
  margin-right: 2px;
}
.home-page .content .course-info .topic-content .review-question .wrapper .playButton:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.home-page .content .course-info .topic-content .review-question .answer-wrong {
  color: #ef4136;
  background-color: #ffeceb;
  border-radius: 6px;
}
.home-page .content .course-info .topic-content .review-question .answer-right {
  color: #82c43c;
  background-color: #e8ffd0;
  border-radius: 6px;
}
.home-page .content .course-info .topic-content .review-question .answer {
  font-family: Gilroy-Medium;
  font-size: 1.71428571rem;
  display: block;
  position: relative;
  margin-bottom: 1.07142857rem;
  margin-top: 2.14285714rem;
  margin-left: 50px;
  padding-left: calc(23.34px + 14px + 2px + 24px + 16px + 50px);
  /* Create a custom checkbox */
}
.home-page .content .course-info .topic-content .review-question .answer input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.home-page .content .course-info .topic-content .review-question .answer .checkmark {
  position: absolute;
  top: 5px;
  left: calc(23.34px + 14px + 2px + 50px);
  height: 1.71428571rem;
  width: 1.71428571rem;
  border: 0.14285714rem solid #b5b5be;
  border-radius: 0.42857143rem;
}
.home-page .content .course-info .topic-content .review-question .answer .checkmark-false:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00d";
  color: #ef4136;
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: -7px;
  left: -78px;
}
.home-page .content .course-info .topic-content .review-question .answer .checkmark-true:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  color: #82c43c;
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: -7px;
  left: -78px;
}
.home-page .content .course-info .topic-content .review-question .answer input:checked ~ .checkmark {
  background-color: #ef4136;
}
.home-page .content .course-info .topic-content .review-question .answer input:checked ~ .checkmark-check {
  background-color: #82c43c;
}
.home-page .content .course-info .topic-content .review-question .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.home-page .content .course-info .topic-content .review-question .answer input:checked ~ .checkmark:after {
  display: block;
}
.home-page .content .course-info .topic-content .review-question .answer .checkmark:after {
  left: 0.64285714rem;
  top: 0.35714286rem;
  width: 0.35714286rem;
  height: 0.71428571rem;
  border: solid white;
  border-width: 0 0.21428571rem 0.21428571rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.home-page .content .course-info .topic-content .review-question .popup-explain {
  position: relative;
  box-sizing: border-box;
  margin-left: 50px;
  border: 1px solid #e2e2ea;
  background-color: #fafafb;
  border-radius: 6px;
}
.home-page .content .course-info .topic-content .review-question .popup-explain p {
  font-family: Gilroy-Regular;
  font-size: 1.28571429rem;
  color: #171725;
}
.home-page .content .course-info .topic-content .review-question .popup-explain:before,
.home-page .content .course-info .topic-content .review-question .popup-explain:after {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #dadada;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.home-page .content .course-info .topic-content .review-question .popup-explain:before {
  z-index: -1;
}
.home-page .content .course-info .topic-content .review-question .popup-explain.arrow-top:before,
.home-page .content .course-info .topic-content .review-question .popup-explain.arrow-top:after {
  bottom: 100%;
  left: 20px;
  margin-bottom: -7px;
  border-bottom: 0;
  border-right: 0;
}
.home-page .content .course-info .topic-content .review-question .definition {
  border-radius: 1.42857143rem;
  border: 0.07142857rem solid #f1f1f5;
  background-color: #fafafb;
}
.home-page .content .course-info .topic-content .review-question .definition h5 {
  font-family: Poppins-SemiBold;
  font-size: 1rem;
  color: #44444f;
}
.home-page .content .course-info .topic-content .review-question .definition ul {
  list-style-type: disc;
  opacity: 0.5;
}
.home-page .content .course-info .topic-content .review-question .definition ul li {
  font-family: Gilroy-Regular;
  font-size: 1rem;
  line-height: 1.71428571rem;
  padding-bottom: 0.71428571rem;
}
@media screen and (min-width: 1600px) {
  .home-page .content .daily-quote {
    margin-bottom: 3rem !important;
  }
  .home-page .content .current-achievement .rank-info .e-coin .number,
  .home-page .content .current-achievement .rank-info .rank .number {
    padding-left: 1.5rem;
  }
  .home-page .content .current-achievement .rank-info .e-coin .shop-coin,
  .home-page .content .current-achievement .rank-info .rank .shop-coin {
    top: -18%;
    right: 10%;
  }
  .home-page .content .course-info #content-tabs .content-tab .extra-courses .courses-hub {
    max-height: 150px;
  }
  .home-page .content .lession-class .current-lession .lession-unit img {
    top: 15%;
  }
}
