.entrance-test {
  height: 100vh;
  background-color: #fafafb;
}
.entrance-test .top-bar {
  height: 70px;
  position: relative;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
}
.entrance-test .top-bar img {
  padding-left: 1.21428571rem;
  padding-top: 1.07142857rem;
  padding-bottom: 1.07142857rem;
}
.entrance-test .top-bar .menu-bar {
  position: absolute;
  z-index: 1000;
  top: 24px;
  left: 50%;
  transform: translate(-50%, 0);
}
.entrance-test .top-bar .menu-bar ul li a {
  font-family: Poppins-Medium;
  font-size: 1.14285714rem;
  color: #696974;
  padding: 0 1.42857143rem;
  text-decoration: none;
}
.entrance-test .top-bar .menu-bar ul li button {
  color: #92929d;
  background: none;
  font-size: 1.28571429rem;
  line-height: 1;
  padding: 0 1.42857143rem 0 0;
  margin-top: -0.28571429rem;
}
.entrance-test .top-bar .menu-bar ul li button:focus {
  box-shadow: none;
}
.entrance-test .top-bar .menu-bar ul li .dropdown-menu {
  right: 0;
  left: unset;
}
.entrance-test .top-bar .menu-bar ul li.active a {
  font-family: Poppins-SemiBold;
  color: #005b94;
}
.entrance-test .entrance-content .test-progress {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
  padding-left: 2.14285714rem;
}
.entrance-test .entrance-content .test-progress h5 {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571rem;
  letter-spacing: 0.1px;
  color: #171725;
}
.entrance-test .entrance-content .test-progress span {
  font-family: Poppins-Medium;
  font-size: 1rem;
  color: #fff;
  background-color: #ff974a;
  border-radius: 10px;
  padding: 0.71428571rem 1.14285714rem;
  margin-left: 1.14285714rem;
}
.entrance-test .entrance-content .test-progress img {
  filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(344deg) brightness(101%) contrast(102%);
}
