.login {
  height: 100vh;
}
.login .h-vh {
  height: 100vh;
}
.login .color-left {
  background-color: #fff;
}
.login .color-right {
  position: relative;
  background-color: #005b94;
}
.login .login-content {
  width: 68.625vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login .login-content .img-login {
  min-height: 31vw;
  background: url('../image/login/image-login.png') no-repeat center center;
  background-size: cover;
  border-top-left-radius: 44.4px;
  border-bottom-left-radius: 44.4px;
}
.login .login-content .img-login img {
  background: #fff;
}
.login .login-content .login-form {
  min-height: 31vw;
  border-top-right-radius: 44.4px;
  border-bottom-right-radius: 44.4px;
  box-shadow: 3px -5px 40px 0 rgba(205, 205, 212, 0.1);
  background-color: #fff;
  padding-left: 10%;
  padding-right: 10%;
}
.login .login-content .login-form form {
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.login .login-content .login-form form p {
  font-family: Gilroy-Bold;
  font-size: 0.76428571rem;
  color: #b5b5be;
  padding-top: 5.14285714rem;
  margin-bottom: 0;
}
.login .login-content .login-form form h5 {
  font-family: Poppins-SemiBold;
  font-size: 1.75rem;
  color: #171725;
}
.login .login-content .login-form form a {
  font-family: Gilroy-Medium;
  font-size: 0.88571429rem;
  color: #005b94;
  line-height: 1.07142857rem;
  text-decoration: none;
}
.login .login-content .login-form form i {
  color: #b5b5be;
}
.login .login-content .login-form form label {
  font-family: Gilroy-Regular;
  font-size: 0.76428571rem;
  color: #d5d5dc;
  margin-bottom: 0.25rem;
}
.login .login-content .login-form form input {
  font-family: Gilroy-Regular;
  font-size: 1.01428571rem;
  color: #44444f;
  letter-spacing: 0.1px;
  width: 90%;
}
.login .login-content .login-form form input:focus {
  outline: none;
}
.login .login-content .login-form form .row-input {
  border-bottom: 1px solid #e2e2ea;
  color: #44444f;
}
.login .login-content .login-form form .remember {
  font-family: Gilroy-Regular;
  font-size: 0.88571429rem;
  letter-spacing: 0.09px;
  color: #44444f;
  display: block;
  position: relative;
  padding-left: calc(18px + 9px);
  line-height: 1.07142857rem;
  cursor: pointer;
  /* Create a custom checkbox */
}
.login .login-content .login-form form .remember input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.login .login-content .login-form form .remember .checkmark {
  position: absolute;
  top: 0;
  left: 2px;
  height: 1rem;
  width: 1rem;
  border: 0.07142857rem solid #b5b5be;
  border-radius: 3px;
  background-color: #fff;
}
.login .login-content .login-form form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.login .login-content .login-form form .remember input:checked ~ .checkmark:after {
  display: block;
}
.login .login-content .login-form form .remember .checkmark:after {
  content: '';
  background: url('../image/courses/tick.png') no-repeat;
  background-size: 100% 100%;
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: 1000;
  top: -1px;
  left: -1px;
}
.login .login-content .login-form .log-in {
  font-family: Poppins-SemiBold;
  font-size: 1.14285714rem;
  color: #fff;
  background-color: #005b94;
  border-radius: 0.71428571rem;
  padding-top: 0.71428571rem;
  padding-bottom: 0.71428571rem;
}
