<div class="row clearfix sticky-toolbar" [@routerTransition]>
    <div class="col-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    {{ 'AbpIdentity::Users' | abpLocalization }}
                </h2>
                <div class="buttonHeaderContainer">
                    <button mat-button (click)="goBack()">
                        <mat-icon>arrow_back_ios</mat-icon>
                        {{ '::Back' | abpLocalization }}
                    </button>
                    <button mat-flat-button color="primary" [disabled]="editTagForm.form.invalid" (click)="save()"
                        class="ml-3">
                        <mat-icon>save</mat-icon>
                        {{ '::Save' | abpLocalization }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<form autocomplete="off" #editTagForm="ngForm">
    <div class="row clearfix" [@routerTransition]>
        <div class="col-12">
            <div class="card">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{'::' + title | abpLocalization}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        {{ 'AbpIdentity::DisplayName:Name' | abpLocalization }}
                                    </mat-label>
                                    <input matInput [(ngModel)]="vm.name" name="name" required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        {{ 'AbpIdentity::DisplayName:UserName' | abpLocalization }}
                                    </mat-label>
                                    <input matInput [(ngModel)]="vm.userName" name="username" required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        {{ 'AbpIdentity::DisplayName:Surname' | abpLocalization }}
                                    </mat-label>
                                    <input matInput [(ngModel)]="vm.surname" name="surname">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        {{ 'AbpIdentity::DisplayName:Email' | abpLocalization }}
                                    </mat-label>
                                    <input matInput [(ngModel)]="vm.email" name="email" required [email]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        {{ 'AbpIdentity::DisplayName:PhoneNumber' | abpLocalization }}
                                    </mat-label>
                                    <input matInput [(ngModel)]="vm.phoneNumber" name="phoneNumber" required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        {{ '::Password' | abpLocalization }}
                                    </mat-label>
                                    <input type="password" matInput [(ngModel)]="vm.password" name="password">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        {{ 'AbpIdentity::DisplayName:NewPasswordConfirm' | abpLocalization }}
                                    </mat-label>
                                    <input type="password" matInput [(ngModel)]="passWordConfirm" name="passWordConfirm">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-checkbox matInput name="isLockedOut" [(ngModel)]="vm.isLockedOut"
                                    style="display: flex; flex-direction: column;padding-left: 15px; justify-content: center;">
                                    {{'SystemConfiguration::Active' | abpLocalization}}
                                </mat-checkbox>
                            </div>
                            <ng-template ngFor let-item [ngForOf]="listRoleNames" let-i="index">
                                <mat-checkbox matInput name="item.name" [(ngModel)]="item.isChecked"
                                    style="display: flex; flex-direction: column;padding-left: 15px; justify-content: center;">
                                    {{ item.name }}
                                </mat-checkbox>
                            </ng-template>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</form>