# See http://help.github.com/ignore-files/ for more about ignoring files.

#Node.js Tools for Visual Studio
node_modules/
/applications/admin-web/package-lock.json
/applications/student-web/package-lock.json
/applications/teacher-web/package-lock.json


# IDEs and editors
.vscode/
obj/
bin/
Logs/
