<div class="row clearfix" [@routerTransition]>
    <div class="col-12">
        <div class="card main-content">
            <div class="header">
                <h2>{{ '::StudentManagement' | abpLocalization }}</h2>
            </div>
            <div class="body table-responsive">
                <!--query start-->
                <div class="row clearfix">
                    <div class="col-md-12">
                        <form autocomplete="off">
                            <mat-form-field class="w-100">
                                <mat-label>
                                    {{ '::Filter' | abpLocalization }}
                                </mat-label>
                                <input matInput [(ngModel)]="filter" name="filter" (keypress)="keyPressFilter($event)">
                            </mat-form-field>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button mat-raised-button color="primary" (click)="refresh()">
                                        <mat-icon>search</mat-icon>{{ '::Search' | abpLocalization }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--query end-->

                <ft-datatables #studentManagement [dtOptions]="dtOption"></ft-datatables>

                <button mat-mini-fab color="primary" *abpPermission="creatingPermission" class="btn-add-new pull-right"
                    (click)="create()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
