.home-page .content h1 {
  font-family: Poppins-SemiBold;
  color: #171725;
}
.home-page .content .booking-info {
  width: 100%;
}
.home-page .content .booking-info .tab-nav {
  margin-left: 1%;
}
.home-page .content .booking-info .tab-nav ul li {
  border-radius: 1.42857143rem;
}
.home-page .content .booking-info .tab-nav ul li a {
  display: block;
  font-family: Poppins-Regular;
  margin: 0 0.28571429rem;
  position: relative;
  text-decoration: none;
  font-size: 1.14285714rem;
  font-weight: bold;
  color: #696974;
  background: none;
  outline: none;
  background-color: #fff;
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.07);
  border-top-left-radius: 1.42857143rem;
  border-top-right-radius: 1.42857143rem;
}
.home-page .content .booking-info .tab-nav ul li a.open {
  font-family: Poppins-SemiBold;
  font-size: 1.14285714rem;
  z-index: 10;
  color: #005b94;
  background-color: #fff;
}
.home-page .content .booking-info .tab-nav ul li a:after {
  content: '';
  width: 75%;
  position: absolute;
  z-index: -1;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 0px);
  border-bottom: 3px solid #005b94;
  border-top-left-radius: 1.42857143rem;
  border-top-right-radius: 1.42857143rem;
}
.home-page .content .booking-info #content-tabs {
  min-height: calc(1114px - 74px - 21px - 28px - 14px - 41px);
  box-shadow: 0 0.28571429rem 1.71428571rem 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}
.home-page .content .booking-info #content-tabs .content-tab {
  display: none;
  position: relative;
}
.home-page .content .booking-info #content-tabs .content-tab.open {
  display: block;
}
.home-page .content .booking-info #content-tabs .content-tab p {
  font-family: Gilroy-Regular;
  font-size: 10.5px;
  color: #92929d;
  padding-top: 2.14285714rem;
  margin-bottom: 0;
}
.home-page .content .booking-info #content-tabs .content-tab .dropdown {
  width: 24%;
  border-bottom: 1px solid #005b94;
  background-color: #ffffff;
  font-family: Gilroy-Bold;
  font-size: 1.71428571rem;
  color: #ff974a;
}
.home-page .content .booking-info #content-tabs .content-tab .dropdown button:focus {
  box-shadow: none;
}
.home-page .content .booking-info #content-tabs .content-tab .dropdown .dropdown-toggle {
  width: 100%;
  font-family: Gilroy-Bold;
  font-size: 1.71428571rem;
  color: #ff974a;
  letter-spacing: 0.1px;
}
.home-page .content .booking-info #content-tabs .content-tab .dropdown .dropdown-toggle:after {
  font-size: 1.42857143rem;
  color: #92929d;
  margin-left: 0;
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 3%;
  transform: translate(0, -50%);
}
.home-page .content .booking-info #content-tabs .content-tab .dropdown .dropdown-menu {
  min-width: 5rem;
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.07);
  border: none;
  padding: 0;
}
.home-page .content .booking-info #content-tabs .content-tab .dropdown .dropdown-menu a {
  background-color: none;
  font-family: Gilroy-Regular;
  color: #92929D;
  padding-top: 2px;
}
.home-page .content .booking-info #content-tabs .content-tab .dropdown .dropdown-menu li {
  padding-top: 2px;
}
.home-page .content .booking-info #content-tabs .content-tab .dropdown .dropdown-menu li:hover {
  background-color: #f1f1f5;
}
.home-page .content .booking-info #content-tabs .content-tab .dropdown .dropdown-menu li:hover a {
  color: #171725;
}
.home-page .content .booking-info #content-tabs .content-tab .user-learn {
  position: absolute;
  z-index: 10;
  top: -41px;
  right: 0%;
}
.home-page .content .booking-info #content-tabs .content-tab .user-learn .welcome {
  height: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 4.1%;
  border-radius: 1.42857143rem;
  box-shadow: 0 0.28571429rem 1.71428571rem 0 rgba(255, 197, 66, 0.15);
  background-color: #ffc542;
  position: relative;
}
.home-page .content .booking-info #content-tabs .content-tab .user-learn .welcome h5 {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571rem;
  margin-bottom: 1.14285714rem;
}
.home-page .content .booking-info #content-tabs .content-tab .user-learn .welcome p {
  font-family: Gilroy-Medium;
  font-size: 1.28571429rem;
  color: #fff;
}
.home-page .content .booking-info #content-tabs .content-tab .user-learn .welcome .img-learning {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 10%;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board {
  width: 95%;
  margin-top: 2.14285714rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .form-group {
  width: 67.5%;
  background-color: #f1f1f5;
  border-radius: 0.71428571rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .form-group label {
  font-family: Gilroy-Regular;
  font-size: 1rem;
  color: #696974;
  margin-top: 0.07142857rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .form-group .dropdown {
  width: 55%;
  border-radius: 10px;
  color: #171725;
  font-family: Gilroy-Bold;
  font-size: 1rem;
  background-color: unset;
  border: none;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .form-group .dropdown button:focus {
  box-shadow: none;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .form-group .dropdown .dropdown-toggle {
  padding-top: 5px;
  font-family: Gilroy-Medium;
  font-size: 1rem;
  color: #171725;
  font-weight: 900;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .form-group .dropdown .dropdown-toggle:after {
  margin-left: 0;
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .form-group .dropdown .dropdown-menu {
  min-width: 5rem;
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.07);
  border: none;
  padding: 0;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .form-group .dropdown .dropdown-menu a {
  background-color: none;
  font-family: Gilroy-Regular;
  color: #92929D;
  padding-top: 2px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .form-group .dropdown .dropdown-menu li:hover {
  background-color: #f1f1f5;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .form-group .dropdown .dropdown-menu li:hover a {
  color: #171725;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .arrow i {
  color: #92929d;
  border: 1px solid #e2e2ea;
  border-radius: 8px;
  padding: 8.5px 10.94px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .arrow i:nth-child(1) {
  margin-right: 0.71428571rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table thead tr th:not(:first-child) {
  width: 13.5%;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table thead th {
  font-family: Gilroy-Regular;
  font-size: 1.28571429rem;
  color: #171725;
  font-weight: normal;
  border-bottom: 0;
  border-top: 0;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table thead th b {
  font-family: Gilroy-Bold;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table thead .border-day {
  border-bottom: 0;
  padding: 0.75rem 1.5rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table thead .border-day .bg-day {
  background-color: #005b94;
  border-radius: 10px;
  color: #fff;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table thead .border-day:not(:last-child) {
  border-right: 1px solid #fff;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table .border-hour {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 0;
  padding-left: 1.42857143rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table .border-hour:not(:first-child) {
  border-top: 1px solid #fff;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody h4 {
  font-family: Poppins-SemiBold;
  font-size: 14px;
  color: #fff;
  background-color: #92929d;
  display: inline-block;
  padding: 7px 16.5px;
  border-radius: 4px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody h5 {
  font-family: Gilroy-Bold;
  font-size: 14px;
  color: #696974;
  letter-spacing: 0.1px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody p {
  font-family: Gilroy-Regular;
  font-size: 14px;
  color: #696974;
  padding-top: 0;
  line-height: 1.4;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody tr td:not(:first-child) {
  width: 13.5%;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody tr td {
  padding: 0;
  height: 3.92857143rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody span {
  display: block;
  margin-top: -13px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .booking-item {
  height: 100%;
  position: relative;
  padding-left: 1.07142857rem;
  padding-top: 1.14285714rem;
  padding-bottom: 1.14285714rem;
  border-left: 0.5px solid #92929d;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #e2e2ea;
  border-right: 1px solid #e2e2ea;
  border-bottom: 1px solid #e2e2ea;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .booking-item img {
  margin-top: 0.5rem;
  border-radius: 50%;
  margin-left: -6px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .booking-item span {
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  margin-left: -6px;
  padding-left: 4px;
  font-size: 12px;
  line-height: 27px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .booking-item:before {
  content: '';
  position: absolute;
  z-index: 1000;
  top: 0;
  left: -1px;
  height: 100%;
  border: 1.5px solid #92929d;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .incoming {
  border-left: 0.5px solid #ff974a;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .incoming h4 {
  background-color: #ff974a;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .incoming:before {
  border: 1.5px solid #ff974a;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .booking-success {
  background-color: #82c43c;
  border: 0;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .booking-success h4 {
  color: #82c43c;
  background-color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 129px;
  overflow: hidden;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .booking-success h5 {
  color: #fff;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .booking-success p {
  color: #fff;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table tbody .booking-success:before {
  border: 1.5px solid #478901;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table-today thead tr th {
  font-family: Gilroy-Medium;
  font-size: 1rem;
  color: #171725;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1040;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table-header thead tr th div {
  cursor: pointer;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table-calendar tbody tr td {
  position: relative;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table-calendar tbody tr td {
  position: relative;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board .table-calendar tbody tr td .appointment {
  position: absolute;
  width: 100%;
  height: 164px;
}

.home-page .content .booking-info #content-tabs .content-tab .booking-board .table-calendar tbody tr td .appointment.half-part {  
  top: -30px;
}

.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog {
  max-width: 30.14285714rem;
  height: 100vh;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  transform: translate(0, -50%);
  border-top-right-radius: 1.14285714rem;
  border-bottom-right-radius: 1.14285714rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body {
  border-left: 6px solid #82c43c;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .line-topic {
  width: calc(50% - 44.22px);
  border: 0;
  height: 0.03571429rem;
  background-color: #ff974a;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .topic-with-dot {
  font-family: Poppins-SemiBold;
  font-size: 14px;
  color: #fff;
  background-color: #ff974a;
  display: inline-block;
  padding: 7px 16.5px;
  border-radius: 4px;
  position: relative;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .topic-with-dot:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #ff974a;
  display: inline-block;
  border: 2px solid #ff974a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -3px;
  transform: translate(0, -50%);
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content img {
  border-radius: 50%;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .border-bot {
  border-bottom: 0.5px solid #e2e2ea;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .teacher-info {
  margin-left: 1.71428571rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .teacher-info p {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #92929d;
  padding-top: 0;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .teacher-info h3 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #005b94;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .teacher-info h5 {
  font-family: Poppins-SemiBold;
  font-size: 12px;
  color: #171725;
  letter-spacing: 0.09px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .class-info {
  margin-bottom: 0.71428571rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .class-info p {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #92929d;
  padding-top: 0;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .class-info h5 {
  font-family: Poppins-SemiBold;
  font-size: 16px;
  color: #171725;
  letter-spacing: 0.11px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .class-info img {
  border-radius: unset;
  filter: invert(129%) sepia(97%) saturate(5384%) hue-rotate(188deg) brightness(70%) contrast(101%);
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .class-info:nth-last-child(1) {
  margin-bottom: 2.5rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content h2 {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #171725;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content h2 .text-cancel {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #ef4136;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content h2 .text-confirm {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #005b94;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content a {
  margin-top: 2.28571429rem;
  margin-bottom: 2.85714286rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .remind-me {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: #005b94;
  border-color: #005b94;
  border-radius: 1.71428571rem;
  background-color: #ffffff;
  padding: 0.85714286rem 1.85714286rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .remind-me i {
  color: #005b94;
  margin-left: 5px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .join {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.71428571rem;
  background-color: #005b94;
  padding: 0.96428571rem 2.07142857rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .join i {
  color: #fff;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .cancel {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: #005b94;
  border-color: #005b94;
  border-radius: 1.71428571rem;
  background-color: #ffffff;
  padding: 0.85714286rem 3.42857143rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .confirm {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.71428571rem;
  background-color: #005b94;
  padding: 0.96428571rem 3.14285714rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .cancel-booking {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.71428571rem;
  background-color: #fc5a5a;
  padding: 0.96428571rem 2.07142857rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .modal-body .content .notice {
  font-family: Gilroy-Medium;
  font-size: 12px;
  color: #ef4136;
  line-height: 18px;
  padding-top: 0;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .booked .line-topic {
  background-color: #82c43c;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .booked .topic-with-dot {
  background-color: #82c43c;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalActive .modal-dialog .modal-content .booked .topic-with-dot:before {
  background: #82c43c;
  border: 2px solid #82c43c;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog {
  max-width: 39.28571429rem;
  height: 100vh;
  margin: 0 auto;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  transform: translate(0, -50%);
  border-radius: 16px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-header button {
  font-size: 30px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body {
  padding: 0px 35px 40px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .border-bot {
  border-bottom: 0.5px solid #e2e2ea;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .picktime-title h3 {
  font-family: Poppins-SemiBold;
  font-size: 24px;
  color: #171725;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .picktime-title h5 {
  font-family: Gilroy-Regular;
  font-size: 18px;
  color: #171725;
  letter-spacing: 0.08px;
  margin-bottom: 25px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content p {
  font-family: Gilroy-Regular;
  font-size: 14px;
  color: #92929d;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .choose-date {
  width: 60%;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .choose-date .dropdown .dropdown-toggle {
  font-family: Gilroy-Bold;
  font-size: 18px;
  color: #44444f;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .choose-date .dropdown .dropdown-toggle:after {
  content: "";
  border: 0;
  width: 24px;
  height: 24px;
  background: url('../image/booking/ic-calendar.png') no-repeat center center;
  background-size: cover;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .choose-time {
  width: 69%;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .choose-time p {
  margin-left: calc(1rem + 26px + 4px);
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .choose-time .time-range span {
  display: inline-block;
  width: 40%;
  font-family: Gilroy-Regular;
  font-size: 18px;
  color: #4e4e59;
  line-height: 44px;
  background-color: rgba(80, 181, 255, 0.1);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .choose-time .time-range .active {
  background-color: #005b94;
  color: #fff;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .remind-me {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: #005b94;
  border-color: #005b94;
  border-radius: 1.71428571rem;
  background-color: #ffffff;
  padding: 0.85714286rem 1.85714286rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .remind-me i {
  color: #005b94;
  margin-left: 5px;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .join {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.71428571rem;
  background-color: #005b94;
  padding: 0.85714286rem 2.07142857rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content h2 {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #171725;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content h2 .text-confirm {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #005b94;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .cancel {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: #005b94;
  border-color: #005b94;
  border-radius: 1.71428571rem;
  background-color: #ffffff;
  padding: 0.85714286rem 3.42857143rem;
}
.home-page .content .booking-info #content-tabs .content-tab .booking-board #ModalPickTime .modal-dialog .modal-content .modal-body .content .confirm {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.71428571rem;
  background-color: #005b94;
  padding: 0.85714286rem 3.14285714rem;
}
@media screen and (min-width: 320px) {
  .home-page .content h1 {
    font-size: 1.8rem;
  }
  .home-page .content .booking-info .tab-nav ul li a {
    padding: 0.9rem 1.7rem;
  }
  .home-page .content .booking-info #content-tabs {
    padding-left: 0;
  }
  .home-page .content .booking-info #content-tabs .content-tab h5 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .col-md-12 {
    max-width: 100% !important;
  }
  .home-page .content .booking-info .tab-nav ul li a {
    padding: 0.90909091rem 2.90909091rem;
  }
  .home-page .content .booking-info .tab-nav ul li a:after {
    border-bottom: 4px solid #005b94;
  }
  .home-page .content .booking-info .tab-nav ul li:hover a:not(.open) {
    background-color: #005b94;
    color: #fff;
  }
  .home-page .content .booking-info #content-tabs {
    border-radius: 1.42857143rem;
  }
}
@media screen and (min-width: 1024px) {
  .home-page .content .booking-info .tab-nav ul li a:after {
    border-bottom: 5px solid #005b94;
  }
}
@media screen and (min-width: 1600px) {
  .home-page .content h1 {
    font-size: 1.71428571rem;
  }
  .home-page .content .booking-info .tab-nav ul li a {
    padding: 0.60714286rem 2.14285714rem;
  }
  .home-page .content .booking-info #content-tabs .content-tab h5 {
    font-size: 1.28571429rem;
  }
}
