.home-page .ml-6 {
  margin-left: 4.5rem !important;
}
.home-page .content h1 {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571rem;
  color: #171725;
}
.home-page .content .course-info {
  width: 100%;
  height: auto;
}
.home-page .content .course-info h1 {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571rem;
  color: #171725;
}
.home-page .content .course-info .height-content {
  min-height: calc(859.5px);
  border-bottom-left-radius: unset !important;
  border-bottom-right-radius: unset !important;
}
.home-page .content .course-info .topic-content {
  width: 95%;
  margin: auto;
  border-radius: 1.42857143rem;
  box-shadow: 0 0.28571429rem 1.71428571rem 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}
.home-page .content .course-info .topic-content .next {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.35714286rem;
  background-color: #005b94;
  padding: 0.96428571rem 3.76285714rem;
}
@media screen and (min-width: 768px) {
  .home-page .content .course-info .topic-content {
    width: 100%;
  }
}
