.actual-test {
  height: 100vh;
  background-color: #fafafb;
}

.actual-test .entrance-content .sticky-info {
  position: sticky;
  top: 0;
  z-index: 1041;
}

.actual-test .entrance-content .test-progress {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
  padding-left: 0.71428571rem;
  padding-right: 0.71428571rem;
}
.actual-test .entrance-content .test-progress h5 {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571rem;
  letter-spacing: 0.1px;
  color: #171725;
}
.actual-test .entrance-content .test-progress .test-code {
  font-family: Poppins-Medium;
  font-size: 1rem;
  color: #fff;
  background-color: #ff974a;
  border-radius: 10px;
  padding: 0.67857143rem 1.14285714rem;
  margin-left: 1.14285714rem;
}
.actual-test .entrance-content .test-progress .test-code img {
  filter: brightness(0) invert(1);
}
.actual-test .entrance-content .test-progress .test-thumbnail {
  width: 175%;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 1.5rem;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening {
  min-width: 100%;
  width: 56%;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .step {
  width: calc(25% - 5px);
}
.actual-test .entrance-content .test-progress .test-thumbnail .reading {
  min-width: 75%;
  width: 42%;
}
.actual-test .entrance-content .test-progress .test-thumbnail .reading .step {
  width: calc(33% - 5px);
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .label,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .label {
  margin-top: 2.28571429rem;
  margin-bottom: 2rem;
  border-top: 1px solid #92929d;
  position: relative;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .label .label-name,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .label .label-name {
  background-color: #fff;
  padding: 0 1.42857143rem;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .label .label-name span,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .label .label-name span {
  font-family: Poppins-SemiBold;
  font-size: 1.28571429rem;
  color: #92929d;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .active,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .active {
  border-top: 1px solid #005b94;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .active span,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .active span {
  color: #005b94 !important;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .active img,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .active img {
  filter: invert(129%) sepia(97%) saturate(5384%) hue-rotate(188deg) brightness(70%) contrast(101%);
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .step,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .step {
  font-family: Poppins-Medium;
  font-size: 1.28571429rem;
  color: #92929d;
  text-align: center;
  margin: 0 0.42857143rem 0 0;
  padding: 0.42857143rem 0;
  float: left;
  position: relative;
  background-color: #f1f1f5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .step:after,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .step:after,
.actual-test .entrance-content .test-progress .test-thumbnail .listening .step:before,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .step:before {
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 12px solid #f1f1f5;
  z-index: 2;
  transition: border-color 0.2s ease;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .step:before,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .step:before {
  left: 0;
  z-index: 0;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .step span,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .step span {
  position: relative;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .step.current,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .step.current {
  color: #fff;
  background-color: #005b94;
}
.actual-test .entrance-content .test-progress .test-thumbnail .listening .step.current:after,
.actual-test .entrance-content .test-progress .test-thumbnail .reading .step.current:after {
  border-left: 12px solid #005b94;
}
.actual-test .entrance-content .test-progress .progress-practice {
  height: 32px;
  overflow: hidden;
  margin: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 1rem;
}
.actual-test .entrance-content .test-progress .progress-practice .hidden {
  display: none;
}
.actual-test .entrance-content .test-progress .progress-practice .opaque {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.actual-test .entrance-content .test-progress .progress-practice .disabled {
  opacity: 0.4;
  pointer-events: none;
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress {
  font-size: 1rem;
  margin: 0 auto;
  position: relative;
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .step-2:after {
  -webkit-transform: scaleX(0.333) translateY(-50%) perspective(1000px);
  transform: scaleX(0.333) translateY(-50%) perspective(1000px);
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .step-3:after {
  -webkit-transform: scaleX(0.666) translateY(-50%) perspective(1000px);
  transform: scaleX(0.666) translateY(-50%) perspective(1000px);
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .step-4:after {
  -webkit-transform: scaleX(1) translateY(-50%) perspective(1000px);
  transform: scaleX(1) translateY(-50%) perspective(1000px);
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar {
  width: 100%;
  background-color: unset;
  display: -webkit-box;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  overflow: unset;
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step {
  z-index: 2;
  position: relative;
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step span {
  display: none;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
  transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step .fa-check {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
  transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step.valid .fa-check {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
  transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step.valid span {
  color: #2C3E50;
  -webkit-transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
  transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step.active:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) perspective(1000px);
  transform: translate(-50%, -50%) perspective(1000px);
  width: 2.1rem;
  height: 2.1rem;
  background-color: #fa3868;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step.active span {
  display: block;
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step.active:not(:first-child) span:before {
  content: '';
  position: absolute;
  z-index: -10;
  right: 0;
  height: 6px;
  width: calc(4000px);
  background-color: #fa3868;
  border-top-right-radius: 1.42857143rem;
  border-bottom-right-radius: 1.42857143rem;
}
.actual-test .entrance-content .test-progress .progress-practice #checkout-progress:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 6px;
  width: 100%;
  background-color: #e2e2ea;
  border-radius: 1.42857143rem;
  -webkit-transform: translateY(-50%) perspective(1000px);
  transform: translateY(-50%) perspective(1000px);
}
.actual-test .entrance-content .test-progress .progress-practice .current-question i {
  color: #82c43c;
}
.actual-test .entrance-content .test-progress .progress-practice .current-question span {
  font-family: Gilroy-Regular;
  font-size: 0.98571429rem;
  color: #92929d;
}
.actual-test .entrance-content .test-time {
  padding-top: 1.42857143rem;
}
.actual-test .entrance-content .test-time p {
  font-family: Gilroy-Regular;
  font-size: 1rem;
  color: #696974;
}
.actual-test .entrance-content .test-time h5 {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571rem;
  color: #171725;
}
.actual-test .entrance-content .test-time .finish {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.71428571rem;
  background-color: #005b94;
}
.actual-test .entrance-content .modal .modal-dialog {
  max-width: 32.71428571rem;
  height: 100vh;
}
.actual-test .entrance-content .modal .modal-dialog .modal-content {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  transform: translate(0, -50%);
  border-radius: 1.14285714rem;
  padding: 48px 30px;
}
.actual-test .entrance-content .modal .modal-dialog .modal-content p {
  font-family: Poppins-Regular, Giroy-Medium;
  font-size: 16px;
  color: #171725;
}
.actual-test .entrance-content .modal .modal-dialog .modal-content .next {
  font-family: Poppins-Regular;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.71428571rem;
  background-color: #005b94;
  padding: 0.92857143rem 2.75rem;
}
.actual-test .entrance-content .modal .modal-dialog .modal-content .result {
  font-family: Poppins-Regular;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.71428571rem;
  background-color: #ffc542;
  padding: 0.92857143rem 2.97rem;
}
.actual-test .entrance-content .entrance-body {
  min-height: 100vh;
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
}
.actual-test .entrance-content .entrance-body .wrapper {
  width: 100%;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.actual-test .entrance-content .entrance-body .wrapper .question-passage .question {
  font-family: Poppins-Regular;
  font-size: 1.14285714rem;
  color: #171725;
}
.actual-test .entrance-content .entrance-body .learning {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.42857143rem;
  background-color: #005b94;
  padding: 0.85714286rem 2.81571429rem;
}
.actual-test .entrance-content .entrance-body .backbutton {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: #005b94;
  border-radius: 1.42857143rem;
  background-color: #ffffff;
  padding: 0.85714286rem 4rem;
}
.actual-test .entrance-content .entrance-body .wrapper nav {
  width: 100%;
  padding-bottom: 3px;
}
.actual-test .entrance-content .entrance-body .wrapper .buttons {
  margin-top: 3px;
}
.actual-test .entrance-content .entrance-body .wrapper .buttons img {
  filter: invert(129%) sepia(97%) saturate(5384%) hue-rotate(188deg) brightness(70%) contrast(101%);
}
.actual-test .entrance-content .entrance-body .wrapper .time {
  display: none;
}
.actual-test .entrance-content .entrance-body .wrapper .click {
  font-family: Poppins-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.06px;
  text-align: center;
  color: #92929d;
}
.actual-test .entrance-content .entrance-body .wrapper .playButton {
  background-color: white;
  border: none;
  height: 70px;
  width: 80px;
  cursor: pointer;
  outline: none;
  margin-right: 2px;
}
.actual-test .entrance-content .entrance-body .wrapper .playButton img {
  max-width: 60% !important;
}
.actual-test .entrance-content .entrance-body .wrapper .playButton:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box {
  width: 90%;
  margin: auto;
  text-align: left;
  border: 1px solid #ffffff;
  border-radius: 0.85714286rem;
  background: rgba(146, 146, 157, 0.1);
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box .answer {
  font-family: Gilroy-Regular;
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: #000;
  display: block;
  position: relative;
  padding-left: calc(68px);
  cursor: pointer;
  /* Create a custom checkbox */
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box .answer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box .answer .answer-btn {
  border-radius: 0.8rem;
  background-color: rgba(115, 195, 255, 0.05);
  border-color: #fff;
  font-family: Gilroy-Regular;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.15px;
  color: #4e4e59;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box .answer .active {
  background-color: #50b5ff !important;
  color: #fff;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box .answer .checkmark {
  position: absolute;
  top: 1px;
  left: 18px;
  height: 2.04285714rem;
  width: 2.04285714rem;
  border: 0.14285714rem solid #b5b5be;
  border-radius: 50%;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box .answer .answer-label {
  font-family: Poppins-Regular !important;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.13px;
  text-align: right;
  color: #005b94;
  position: relative;
  top: 0.7rem;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box .answer i {
  position: absolute;
  z-index: 1000;
  top: 6%;
  right: 5%;
  padding: 2.5px 5.875px;
  border-radius: 50%;
  background-color: #005b94;
  color: #fff;
  cursor: pointer;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box:hover {
  background-color: #50b5ff;
  opacity: 0.8;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box:hover .answer {
  color: #fff;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box:hover .checkmark {
  border-color: #fff;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box-checked {
  background: #50b5ff;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box-checked .answer {
  color: #fff;
}
.actual-test .entrance-content .entrance-body .wrapper .answer-box-checked .checkmark {
  border-color: #fff !important;
}
.actual-test .entrance-content .entrance-body .wrapper .answer:hover input ~ .checkmark {
  background-color: #50b5ff;
}
.actual-test .entrance-content .entrance-body .wrapper .answer input:checked ~ .answer-box {
  border: 2px solid #50b5ff;
  background: #50b5ff;
  box-shadow: 0 0.28571429rem 1.71428571rem 0 rgba(0, 0, 0, 0.07);
}
.actual-test .entrance-content .entrance-body .wrapper .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.actual-test .entrance-content .entrance-body .wrapper .answer input:checked ~ .checkmark:after {
  display: block;
}
.actual-test .entrance-content .entrance-body .wrapper .answer .checkmark:after {
  content: '';
  background: url('../image/courses/ic-check.png') no-repeat;
  background-size: 100% 100%;
  width: 2.14285714rem;
  height: 2.14285714rem;
  position: absolute;
  z-index: 1000;
  top: -2px;
  left: -2.5px;
}
.actual-test .entrance-content .entrance-body .passage {
  font-family: Poppins-Regular;
  max-height: 725px;
  overflow-y: scroll;
  letter-spacing: 0.08px;
  text-align: justify;
  color: #005b94;
  font-size: 18px;
  padding: 1.78571429rem 2.5rem 0;
  background-color: rgba(250, 255, 190, 0.4);
}
.actual-test .entrance-content .entrance-body .passage img {
  max-height: unset;
}
.actual-test .entrance-content .entrance-body .passage::-webkit-scrollbar {
  width: 0.21428571rem;
  padding-right: 1rem;
}
.actual-test .entrance-content .entrance-body .passage::-webkit-scrollbar-track {
  background-color: #fff;
}
.actual-test .entrance-content .entrance-body .passage::-webkit-scrollbar-thumb {
  background-color: #d5d5dc;
}
.actual-test .entrance-content .entrance-body .passage::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
.actual-test .entrance-content .entrance-body .img-fill {
  max-height: 250px;
  max-width: 100%;
  width: auto;
  border-radius: 12px;
}

.actual-test .entrance-content .entrance-body .wrapper .question-passage.disabled .question-number,
.actual-test .entrance-content .entrance-body .wrapper .question-passage.disabled .answer-box .answer {
  color: #777676;
}

.actual-test .entrance-content .entrance-body .wrapper .question-passage.disabled .answer-box:hover {
  background: rgba(146, 146, 157, 0.1);
  opacity: 1;
  cursor: default;
}
.actual-test .entrance-content .entrance-body .wrapper .question-passage.disabled .answer-box:hover .answer {
  color: #777676;
  cursor: default;
}
.actual-test .entrance-content .entrance-body .wrapper .question-passage.disabled .answer-box:hover .checkmark {
  border-color: #b5b5be;
  cursor: default;
}
.actual-test .entrance-content .entrance-body .wrapper .question-passage.disabled .answer:hover input ~ .checkmark {
  background-color: transparent;
  cursor: default;
}

.actual-test .entrance-content .entrance-body .wrapper .question-passage.disabled .answer-box-checked:hover {
  background: #50b5ff;
  color: #fff;
  cursor: default;
}
.actual-test .entrance-content .entrance-body .wrapper .question-passage.disabled .answer-box-checked .answer,
.actual-test .entrance-content .entrance-body .wrapper .question-passage.disabled .answer-box-checked:hover .answer {
  color: #fff;
  cursor: default;
}

 
@media screen and (min-width: 320px) {
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step {
    padding-left: 0.6rem !important;
  }
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:after,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:after {
    right: -12px;
    border-top: 13.725px solid transparent;
    border-bottom: 13.725px solid transparent;
  }
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:before {
    border-left: 12px solid #fff;
  }
  .actual-test .entrance-content .test-progress .progress-practice {
    width: 100%;
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress {
    width: 78%;
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step.active span:before {
    top: 30%;
  }
  .actual-test .entrance-content .test-time .finish {
    padding: 0.57142857rem 2.85714286rem;
  }
  .actual-test .entrance-content .entrance-body .question {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 360px) {
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress {
    width: 80%;
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step.active span:before {
    top: 24%;
  }
}
@media screen and (min-width: 480px) {
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress {
    width: 85.5%;
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step.active span:before {
    top: 24%;
  }
}
@media screen and (min-width: 768px) {
  .actual-test .entrance-content .test-progress {
    padding-left: 2.14285714rem;
    padding-right: 2.14285714rem;
  }
  .actual-test .entrance-content .test-progress .test-thumbnail {
    width: 100%;
    overflow-x: unset;
    overflow-y: unset;
  }
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:after,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:after {
    border-top: 15.205px solid transparent;
    border-bottom: 15.205px solid transparent;
  }
  .actual-test .entrance-content .test-progress .test-thumbnail .listening {
    min-width: unset;
  }
  .actual-test .entrance-content .test-progress .test-thumbnail .reading {
    min-width: unset;
  }
  .actual-test .entrance-content .test-progress .progress-practice {
    margin-top: 0rem;
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress {
    width: 87.5%;
  }
  .actual-test .entrance-content .test-time {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
  }
}
@media screen and (min-width: 1024px) {
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:after,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:after {
    border-top: 16.64px solid transparent;
    border-bottom: 16.64px solid transparent;
  }
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step {
    width: calc(25% - 6px);
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress {
    width: 90%;
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step.active span:before {
    top: 29%;
  }
}
@media screen and (min-width: 1280px) {
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:after,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:after {
    border-top: 18.065px solid transparent;
    border-bottom: 18.065px solid transparent;
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress {
    width: 91.5%;
  }
}
@media screen and (min-width: 1440px) {
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress {
    width: 92.5%;
  }
  .actual-test .entrance-content .entrance-body .question {
    font-size: 1.53846154rem;
  }
}
@media screen and (min-width: 1600px) {
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:after,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:after {
    border-top: 19.5px solid transparent;
    border-bottom: 19.5px solid transparent;
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress {
    width: 93%;
    padding-top: 0;
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress .progress-bar .step.active span:before {
    top: 35%;
  }
  .actual-test .entrance-content .test-time .finish {
    padding: 0.85714286rem 3.655rem;
  }
  .actual-test .entrance-content .entrance-body .question {
    font-size: 1.71428571rem;
  }
}
@media screen and (min-width: 1920px) {
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:before,
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step:after,
  .actual-test .entrance-content .test-progress .test-thumbnail .reading .step:after {
    border-top: 20.42px solid transparent;
    border-bottom: 20.42px solid transparent;
  }
  .actual-test .entrance-content .test-progress .test-thumbnail .listening .step {
    width: calc(25% - 7px);
  }
  .actual-test .entrance-content .test-progress .progress-practice {
    height: 34px;
  }
  .actual-test .entrance-content .test-progress .progress-practice #checkout-progress {
    width: 92.8%;
  }
}


.review-question h5 {
  display: inline-block;
}
.review-question .blank-word {
  width: 5.71428571rem;
  border-bottom: 0.14285714rem solid #979797;
}
.review-question .question-number {
  width: 20px;
  height: 20px;
  font-family: Gilroy-Medium;
  font-size: 1.07142857rem;
  color: #ffffff;
  margin-bottom: 0;
  background-color: #ffc542;
  border-radius: 50%;
}
.review-question .question {
  font-family: Poppins-Regular;
  font-size: 1.14285714rem;
  color: #171725;
}
.review-question .answer-box {
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 0.71428571rem;
  background: rgba(146, 146, 157, 0.1);
  margin-left: calc(35.34px);
}
.review-question .answer {
  font-family: Gilroy-Regular;
  font-size: 1.14285714rem;
  color: #44444f;
  display: block;
  position: relative;
  padding-left: calc(39.34px);
  cursor: default;
  /* Create a custom checkbox */
}
.review-question .answer input {
  position: absolute;
  opacity: 0;
  cursor: default;
  height: 0;
  width: 0;
}
.review-question .answer .bd-rd {
  border-radius: 0.42857143rem !important;
}
.review-question .answer .answer-btn {
  border-radius: 0.8rem;
  background-color: rgba(115, 195, 255, 0.05);
  border-color: #fff;
  font-family: Gilroy-Regular;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.15px;
  color: #4e4e59;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
}
.review-question .answer .active {
  background-color: #50b5ff !important;
  color: #fff;
}
.review-question .answer .checkmark {
  position: absolute;
  top: 0;
  left: calc(9.34px);
  height: 1.71428571rem;
  width: 1.71428571rem;
  border: 0.14285714rem solid #b5b5be;
  border-radius: 50%;
  background-color: rgba(146, 146, 157, 0.05);
}
.review-question .answer .answer-label {
  font-family: Poppins-Regular !important;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.13px;
  text-align: right;
  color: #005b94;
  position: relative;
  top: 0.7rem;
}
.review-question .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.review-question .answer input:checked ~ .checkmark:after {
  display: block;
}
.review-question .answer .checkmark:after {
  content: '';
  background: url('../image/courses/ic-check-result.png') no-repeat;
  background-size: 100% 100%;
  width: 1.71428571rem;
  height: 1.71428571rem;
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: -3px;
}
.review-question .answer-true {
  background-color: #82c43c;
}
.review-question .answer-true .answer {
  color: #fff;
}
.review-question .answer-true .checkmark {
  border: none;
}
.review-question .answer-wrong {
  background-color: #fc5a5a;
}
.review-question .answer-wrong .answer {
  color: #fff;
}
.review-question .answer-wrong .checkmark {
  border: none;
}
.review-question .answer-wrong .checkmark:after {
  content: "" !important;
  background: url('../image/courses/icon-wrong.png') no-repeat !important;
  background-size: 70% auto !important;
  font-weight: 600;
  color: #fff;
  transform: none;
  border: none;
  font-size: 1.71428571rem;
  position: absolute !important;
  top: 4px !important;
  left: 0px !important;
}
.review-question .answer-before {
  background-color: #e8ffd0;
}
.review-question .definition {
  border-radius: 1.42857143rem;
  border: 0.07142857rem solid #f1f1f5;
  background-color: #fafafb;
}
.review-question .definition h5 {
  font-family: Poppins-SemiBold;
  font-size: 1rem;
  color: #44444f;
}
.review-question .definition ul {
  list-style-type: disc;
  opacity: 0.5;
}
.review-question .definition ul li {
  font-family: Gilroy-Regular;
  font-size: 1rem;
  line-height: 1.71428571rem;
  padding-bottom: 0.71428571rem;
}

@media screen and (min-width: 768px) {
  .home-page .content .course-info .topic-content {
    width: 100%;
  }
  .review-question .answer {
    padding-left: calc(69.34px);
  }
  .review-question .answer .checkmark {
    left: calc(29.34px);
  }
  .review-question .answer .checkmark:after {
    left: -5px;
  }
  .review-question .answer-wrong .checkmark:after {
    top: -7px;
    left: -3px;
  }
}
@media screen and (min-width: 1280px) {
  .review-question .question-number {
    width: 24px;
    height: 24px;
    padding: 4px 8px;
  }
}
@media screen and (min-width: 1600px) {
  .review-question .answer {
    padding-left: calc(79.34px);
  }
  .review-question .answer .checkmark {
    left: calc(39.34px);
  }
}
