.home-page .content h1 {
  font-family: Poppins-SemiBold;
  color: #171725;
}
.home-page .content .feedback-info {
  width: 100%;
}
.home-page .content .feedback-info .welcome {
  padding-top: 24px;
  padding-bottom: 52px;
  padding-left: 4.1%;
  border-radius: 1.42857143rem;
  box-shadow: 0 0.28571429rem 1.71428571rem 0 rgba(255, 197, 66, 0.15);
  background-color: #ffc542;
  position: relative;
}
.home-page .content .feedback-info .welcome h4 {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571rem;
  margin-bottom: 1.14285714rem;
}
.home-page .content .feedback-info .welcome p {
  font-family: Gilroy-Medium;
  font-size: 1.28571429rem;
  color: #fff;
  line-height: 1;
}
.home-page .content .feedback-info .welcome .img-learning {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 5.3%;
}
.home-page .content .feedback-info .welcome .fb-on-class {
  background: url('../image/feedback/fb-class.png') no-repeat bottom center;
  background-size: cover;
}
.home-page .content .feedback-info .welcome .fb-on-center {
  background: url('../image/feedback/fb-center.png') no-repeat bottom center;
  background-size: contain;
}
.home-page .content .feedback-info .welcome .active {
  background-color: #005b94 !important;
}
.home-page .content .feedback-info .welcome .active .fb-on {
  color: #fff !important;
}
.home-page .content .feedback-info .welcome .fb-on-class,
.home-page .content .feedback-info .welcome .fb-on-center {
  width: 24.2%;
  height: 6.28571429rem;
  border-radius: 16.9px;
  position: relative;
  background-color: #fff;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.home-page .content .feedback-info .welcome .fb-on-class img,
.home-page .content .feedback-info .welcome .fb-on-center img {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home-page .content .feedback-info .welcome .fb-on-class .fb-on,
.home-page .content .feedback-info .welcome .fb-on-center .fb-on {
  font-family: Gilroy-Medium;
  font-size: 18px;
  color: #696974;
  position: relative;
  cursor: pointer;
  margin-left: 16px;
  padding-left: 32px;
  line-height: 1;
  /* Create a custom checkbox */
}
.home-page .content .feedback-info .welcome .fb-on-class .fb-on input,
.home-page .content .feedback-info .welcome .fb-on-center .fb-on input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.home-page .content .feedback-info .welcome .fb-on-class .fb-on .checkmark,
.home-page .content .feedback-info .welcome .fb-on-center .fb-on .checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 22px;
  width: 22px;
  border: 0.07142857rem solid #b5b5be;
  border-radius: 50%;
  background-color: #fff;
}
.home-page .content .feedback-info .welcome .fb-on-class .checkmark:after,
.home-page .content .feedback-info .welcome .fb-on-center .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.home-page .content .feedback-info .welcome .fb-on-class .fb-on input:checked ~ .checkmark:after,
.home-page .content .feedback-info .welcome .fb-on-center .fb-on input:checked ~ .checkmark:after {
  display: block;
}
.home-page .content .feedback-info .welcome .fb-on-class .fb-on .checkmark:after,
.home-page .content .feedback-info .welcome .fb-on-center .fb-on .checkmark:after {
  content: '';
  background: url('../image/feedback/ic-check-fill.svg') no-repeat;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 1000;
  top: -2px;
  left: -2px;
}
.home-page .content .feedback-info .choose-class {
  border-radius: 12px;
  background-color: #fff;
  padding: 6px 40px;
}
.home-page .content .feedback-info .choose-class p {
  font-family: Gilroy-Regular;
  font-size: 18px;
  color: #171725;
}
.home-page .content .feedback-info .choose-class .dropdown {
  min-width: 33rem;
  background-color: #ffffff;
  font-family: Gilroy-Regular;
  font-size: 14px;
  color: #ff974a;
  border-radius: 10px;
  background-color: #fafafb;
}
.home-page .content .feedback-info .choose-class .dropdown button:focus {
  box-shadow: none;
}
.home-page .content .feedback-info .choose-class .dropdown .dropdown-toggle {
  min-width: 10rem;
  font-family: Gilroy-Regular;
  font-size: 14px;
  color: #92929d;
  letter-spacing: 0.1px;
  padding-top: 0.92857143rem;
  padding-bottom: 0.92857143rem;
}
.home-page .content .feedback-info .choose-class .dropdown .dropdown-toggle:after {
  font-size: 1.42857143rem;
  color: #92929d;
  margin-left: 0;
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 3%;
  transform: translate(0, -50%);
}
.home-page .content .feedback-info .choose-class .dropdown .dropdown-menu {
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.07);
  border: none;
  padding: 0;
  overflow-y: scroll !important;
  height: 10.5rem;
}
.home-page .content .feedback-info .choose-class .dropdown .dropdown-menu a {
  background-color: none;
  font-family: Gilroy-Regular;
  color: #92929d;
  padding-top: 2px;
}
.home-page .content .feedback-info .choose-class .dropdown .dropdown-menu li {
  padding-top: 2px;
}
.home-page .content .feedback-info .choose-class .dropdown .dropdown-menu li:hover {
  background-color: #f1f1f5;
}
.home-page .content .feedback-info .choose-class .dropdown .dropdown-menu li:hover a {
  color: #171725;
}
.home-page .content .feedback-info .choose-class .class-info {
  margin-top: 35px;
  margin-bottom: 24px;
  padding-inline-start: 80px;
}
.home-page .content .feedback-info .choose-class .class-info li {
  width: 33%;
  font-family: Gilroy-Regular;
  font-size: 18px;
  color: #696974;
}
.home-page .content .feedback-info .choose-class .class-info span {
  font-family: Gilroy-Bold;
  color: #171725;
}
.home-page .content .feedback-info .fb-content {
  border-radius: 20px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 32px 40px 80px;
}
.home-page .content .feedback-info .fb-content p {
  font-family: Gilroy-Regular;
  font-size: 18px;
  color: #171725;
}
.home-page .content .feedback-info .fb-content h5 {
  font-family: Gilroy-Medium;
  font-size: 18px;
  color: #171725;
  letter-spacing: 0.13px;
  margin-top: 25px;
  text-align: center;
}
.home-page .content .feedback-info .fb-content em {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #171725;
}
.home-page .content .feedback-info .fb-content img {
  margin-top: -5px;
}
.home-page .content .feedback-info .fb-content .submit {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
  color: white;
  border-radius: 1.35714286rem;
  background-color: #005b94;
  padding: 0.85714286rem 3.655rem;
}
.home-page .content .feedback-info .fb-content .dropdown {
  width: 34.6%;
  background-color: #ffffff;
  font-family: Gilroy-Regular;
  font-size: 14px;
  color: #ff974a;
  border-radius: 10px;
  background-color: #fafafb;
}
.home-page .content .feedback-info .fb-content .dropdown .dropdown-toggle {
  width: 100%;
  font-family: Gilroy-Regular;
  font-size: 14px;
  color: #92929d;
  letter-spacing: 0.1px;
  padding-top: 0.92857143rem;
  padding-bottom: 0.92857143rem;
}

.home-page .content .feedback-info .fb-content .dropdown .dropdown-toggle:after {
  font-size: 1.42857143rem;
  color: #92929d;
  margin-left: 0;
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 3%;
  transform: translate(0, -50%);
}
.home-page .content .feedback-info .fb-content .dropdown .dropdown-menu li:hover a {
  color: #171725;
}
.home-page .content .feedback-info .fb-content .dropdown .dropdown-menu a {
  background-color: none;
  font-family: Gilroy-Regular;
  color: #92929d;
  padding-top: 2px;
}
@media screen and (min-width: 320px) {
  .home-page .content h1 {
    font-size: 1.8rem;
  }
  .home-page .content .feedback-info .tab-nav ul li a {
    padding: 0.9rem 1.7rem;
  }
  .home-page .content .feedback-info #content-tabs {
    padding-left: 0;
  }
  .home-page .content .feedback-info #content-tabs .content-tab h5 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .col-md-12 {
    max-width: 100% !important;
  }
  .home-page .content .feedback-info .tab-nav ul li a {
    padding: 0.90909091rem 2.90909091rem;
  }
  .home-page .content .feedback-info .tab-nav ul li a:after {
    border-bottom: 4px solid #005b94;
  }
  .home-page .content .feedback-info .tab-nav ul li:hover a:not(.open) {
    background-color: #005b94;
    color: #fff;
  }
  .home-page .content .feedback-info #content-tabs {
    border-radius: 1.42857143rem;
  }
}
@media screen and (min-width: 1024px) {
  .home-page .content .feedback-info .tab-nav ul li a:after {
    border-bottom: 5px solid #005b94;
  }
}
@media screen and (min-width: 1600px) {
  .home-page .content h1 {
    font-size: 1.71428571rem;
  }
  .home-page .content .feedback-info .tab-nav ul li a {
    padding: 0.60714286rem 2.14285714rem;
  }
  .home-page .content .feedback-info #content-tabs .content-tab h5 {
    font-size: 1.28571429rem;
  }
}
