.actual-test .top-bar {
  position: relative;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.07);
}
.actual-test .top-bar img {
  padding-left: 1.21428571rem;
  padding-top: 1.14285714rem;
  padding-bottom: 1.07142857rem;
}
.actual-test .top-bar .menu-bar {
  position: absolute;
  z-index: 1000;
  top: 24px;
  left: 50%;
  transform: translate(-50%, 0);
}
.actual-test .top-bar .menu-bar ul li a {
  font-family: Poppins-Medium;
  font-size: 1.14285714rem;
  color: #696974;
  padding: 0 1.42857143rem;
  text-decoration: none;
}
.actual-test .top-bar .menu-bar ul li button {
  color: #92929d;
  background: none;
  font-size: 1.28571429rem;
  line-height: 1;
  padding: 0 1.42857143rem 0 0;
  margin-top: -0.28571429rem;
}
.actual-test .top-bar .menu-bar ul li button:focus {
  box-shadow: none;
}
.actual-test .top-bar .menu-bar ul li .dropdown-menu {
  right: 0;
  left: unset;
}
.actual-test .top-bar .menu-bar ul li.active a {
  font-family: Poppins-SemiBold;
  color: #005b94;
}
.actual-test .actual-content h2 {
  font-family: Poppins-SemiBold;
  font-size: 2.28571429rem;
  color: #171725;
  margin-top: 4.28571429rem;
  letter-spacing: 0.00928571rem;
}
.actual-test .actual-content p {
  font-family: Gilroy-Regular;
  font-size: 1.28571429rem;
  color: #696974;
  letter-spacing: 0.00571429rem;
  margin-bottom: 3.57142857rem;
}
.actual-test .actual-content .col-4 {
  flex: 0 0 32.333333%;
  max-width: 32.333333%;
}
.actual-test .actual-content .col-4:nth-child(1) {
  margin-right: 2.28571429rem;
}
.actual-test .actual-content .test {
  padding: 1.07142857rem 1.78571429rem 2.85714286rem;
}
.actual-test .actual-content .test .color-blue {
  color: #005b94;
}
.actual-test .actual-content .test .color-red {
  color: #ef4136;
}
.actual-test .actual-content .test .test-minute {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.actual-test .actual-content .test .test-minute h1 {
  font-family: Poppins-SemiBold;
  font-size: 4.57142857rem;
}
.actual-test .actual-content .test .test-minute h4 {
  font-family: Poppins-SemiBold;
  font-size: 1.71428571rem;
}
.actual-test .actual-content .test .test-minute h5 {
  font-family: Poppins-Regular;
  font-size: 1.28571429rem;
}
.actual-test .actual-content .test .test-content p {
  font-family: Gilroy-Regular;
  font-size: 1.14285714rem;
  color: #171725;
}
.actual-test .actual-content .test .test-content strong {
  font-family: Gilroy-Bold;
}
.actual-test .actual-content .test .test-content ul li {
  font-size: 1.14285714rem;
  line-height: 1.5;
}
.actual-test .actual-content .test .test-content ul li span {
  font-family: Gilroy-Regular;
  color: #171725;
}
.actual-test .actual-content .test button {
  font-family: Poppins-SemiBold;
  font-size: 1.08571429rem;
}
.actual-test .actual-content .test .button-start {
  color: #fff;
  border-radius: 1.25714286rem;
  background-color: #005b94;
  padding: 0.92857143rem 4.44642857rem;
  margin-left: 3.92857143rem;
}
.actual-test .actual-content .test .button-start-red {
  background-color: #ef4136;
}
.actual-test .actual-content .listening-test {
  background: url('../image/test/45m-bg.png') no-repeat center center;
  background-size: 100% 100%;
}
.actual-test .actual-content .reading-test {
  background: url('../image/test/75m-bg.png') no-repeat center center;
  background-size: 100% 100%;
}
