<div class="row clearfix sticky-toolbar" [@routerTransition]>
  <div class="col-12">
    <div class="card main-content">
      <div class="header">
        <h2>
          {{ 'ProjectManagement::ProjectInformation' | abpLocalization }}
        </h2>
        <div class="buttonHeaderContainer">
          <button mat-button (click)="goBack()">
            <mat-icon>arrow_back_ios</mat-icon>
            {{ 'ProjectManagement::Back' | abpLocalization }}
          </button>
          <button mat-flat-button color="primary" type="submit" [disabled]="editForm.form.invalid" (click)="save()"
            class="ml-3">
            <mat-icon>save</mat-icon>
            {{ 'ProjectManagement::Save' | abpLocalization }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<form #editForm="ngForm">
  <div class="row clearfix" [@routerTransition]>
    <div class="col-12">
      <div class="card">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{'::' + title | abpLocalization}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="main-content">
              <div class="body table-responsive">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">

                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>
                            {{ 'ProjectManagement::ProjectName' | abpLocalization }}
                          </mat-label>
                          <input matInput [(ngModel)]="vm.projectName" name="projectName" maxlength="200" disabled>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6" [hidden]='id'>
                        <mat-form-field class="w-100">
                          <mat-label>{{"ProjectManagement::PickUpone"   | abpLocalization}}</mat-label>
                          <mat-select [(ngModel)]="studentGroup" name="studentGroup" required>
                            <mat-option *ngFor="let item of studentGroups" [value]="item">
                              {{item.groupName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6" [hidden]='!id'>
                        <mat-form-field class="w-100">
                          <mat-label>
                            {{ 'ProjectManagement::StudentGroupName' | abpLocalization }}
                          </mat-label>
                          <input matInput [(ngModel)]="vm.studentGroupName" name="studentGroupName" maxlength="200"
                            [disabled]='id'>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>
                            {{ 'ProjectManagement::EmailContact' | abpLocalization }}
                          </mat-label>
                          <input matInput [(ngModel)]="vm.emailContact" name="emailContact" maxlength="200" required
                            [disabled]='id'>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>{{'ProjectManagement::StartDate' | abpLocalization}}
                          </mat-label>
                          <input matInput [matDatepicker]="picker1" [(ngModel)]="vm.startDate" name="startDate"
                            required>
                          <mat-datepicker-toggle matSuffix [for]="picker1">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>{{'ProjectManagement::expireDate' | abpLocalization}}
                          </mat-label>
                          <input matInput [matDatepicker]="picker" [(ngModel)]="vm.expiredDate" name="expiredDate">
                          <mat-datepicker-toggle matSuffix [for]="picker">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="w-100">
                          <mat-label>
                            {{ '::Source' | abpLocalization }}
                          </mat-label>
                          <input matInput [(ngModel)]="vm.source" name="Source" maxlength="200">
                        </mat-form-field>
                      </div>

                      <mat-checkbox class="ml-3" matInput name="Status" [(ngModel)]="vm.status">
                        {{'ProjectManagement::Active' | abpLocalization}}
                      </mat-checkbox>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</form>
<ft-teacher-information-group *ngIf="id" [ProjectInformationId]='id' [projectId]='projectId'>
</ft-teacher-information-group>
